@model MVCBasics.Models.LanguageViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* Use the form below for search if not using AJAX *@
<!--<form style="float:right;">-->
@*<input type="submit" value="Search" class="btn btn-primary" style="float: right" />*@
<!--<input id="search" asp-for="SearchPhrase" class="form-control" style="float: right; width: 30%" />
    <label class="control-label" style="float:right;">Search By Anything</label>
</form>-->

@*<a asp-action="Create"
   style="float:right;
clear:both; background:skyblue;
display:block;
text-decoration:none;
border-radius:5px;margin:10px">Create New</a>*@

<input type="text" id="DetailsID" />
<input type="button" value="Languages" id="LoadLanguages" />
<input type="button" value="Details" id="LanguageDetails" />
<input type="button" value="Delete" id="LanguageDelete" />

<input id="SearchBt" type="button" value="Search" class="btn btn-primary" style="float: right" />
<input id="search" class="form-control" style="float: right; width: 20%" />
<label class="control-label" style="float:right;">Search By Anything</label>



<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CreateLanguage.Name" class="control-label"></label>
                <input asp-for="CreateLanguage.Name" class="form-control" />
                <span asp-validation-for="CreateLanguage.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-top:30px" />
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<div id="LanguageTable">

</div>
<input id="AddPersonBT" type="button" value="Add" class="btn btn-primary" style="float: left; clear: both" />
<input id="PersonID" class="form-control" style="float: left; width: 20%;" />
<p style="float: left; ">Enter A Person's ID To Add That Person With This LanguageID</p>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#LoadLanguages").click(function () {
            $('#LanguageTable').load("/Language/LanguageIndex");
        });

        $("#SearchBt").click(function () {
            var sc = $("#search").val();
            $('#PersonTable').load("/Person/PeopleIndex", {search: sc});
        });

        $("#LanguageDetails").click(function () {
            var id = $("#DetailsID").val();
            $('#LanguageTable').load("/Language/LanguageDetails", { ID: id });
            //$('#LT').empty();
            //$('#LT').append("<input id='AddPersonBT' type='button' value='Add' class='btn btn - primary' style='float: left; clear: both;background:skyblue' />")
            //$('#LT').append("<input id='PersonID' class='form-control' style='float: left; width: 20%;' />")
            //$('#LT').append("Enter A Person's ID To Add That Person With This Language")
        });

        $("#LanguageDelete").click(function () {
            var id = $("#DetailsID").val();
            $('#LanguageTable').load("/Language/Delete", { ID: id });
            alert("@ViewBag.Message")
        });

        $("#AddPersonBT").click(function () {
            var lid = $("#DetailsID").val();
            var pid = $("#PersonID").val();
            $.get("/Language/AddToPerson", { LID: lid, PID: pid });
        });
    });
</script>
