@model MVCBasics.Models.City

<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
    </dl>
</div>

