@model MVCBasics.Models.LanguageViewModel
<div id="CityTable" class="table" style="background: skyblue; float: right; clear: both;">
    <div>
        <hr />
        <div class="row">
            <div class="col-sm-2">
                ID
            </div>
            <div class="col-sm-2">
                Name
            </div>
        </div>
    </div>
    @*Showing Table Data with Partial View Using Razor*@
    @{
        @foreach (var item in Model.Languages)
        {
            <partial name="_LanguagePartial" model="item" />
        }
    }
</div>